.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}




.form-container {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Custom CSS for rendering components in each row */
.row-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between components as needed */
}

.organization-card {
  width: 300px; /* Set a fixed width for each component */
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}







